@import 'variables';
@import 'partials/header';
@import 'partials/main';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}




